/packages/grafana_5.1.4_amd64.deb
/packages/hbase-1.4.8-bin.tar.gz
/packages/opentsdb-2.3.1_all.deb
/packages/hadoop-3.1.1.tar.gz
/packages/jdk-8u191-linux-x64.tar.gz
/packages/kafka_2.11-2.0.0.tgz
/packages/zookeeper-3.4.13.tar.gz
/conf/vernemq/ssl/*
