name=mqtt
connector.class=com.evokly.kafka.connect.mqtt.MqttSourceConnector
tasks.max=1

#Settings
# Where to put processed messages - default to `mqtt`
kafka.topic={{kafka_topic}}
# What client id to use - defaults to `null` which means random client_id
mqtt.client_id={{kafka_client}}
# Use clean session in connection? - default `true`
mqtt.clean_session={{mqtt_clean_session}}
# What mqtt connection timeout to use - defaults to `30` seconds
mqtt.connection_timeout=30
# What mqtt connection keep alive to use - defaults to `60` seconds
#mqtt.keep_alive_interval=60
# Mqtt broker address to use - defaults to `tcp://localhost:1883`
# if using TLS then certs can be used
mqtt.server_uris=ssl://{{mqtt_broker_ip}}:{{mqtt_broker_port}}
# Mqtt topic to listen to - defaults to `#` (wildcard - all)
mqtt.topic={{mqtt_topic}}
# Mqtt QoS to use - defaults to 1
mqtt.qos={{mqtt_qos}}
# CA cert to use to connect to mqtt broker, can be used when connecting to TLS secured brokers - default `null`
mqtt.ssl.ca_cert={{mqtt_broker_ca_cert}}/usr/local/java/jdk1.8.0_191/jre/lib/security/cacerts
# Client cert to use to connect to mqtt broker, can be used when connecting to TLS secured brokers - default `null`
#mqtt.ssl.cert=null
# Client key to use to connect to mqtt broker, can be used when connecting to TLS secured brokers - default `null`
#mqtt.ssl.key=null
# Username to use to connect to mqtt broker - default `null`
mqtt.user={{mqtt_user}}
# Username to use to connect to mqtt broker - default `null`
mqtt.password={{mqtt_user_password}}
# Message processor class to use to process mqtt messages before puting them on kafka - defaults to samle `DumbProcessor`
#message_processor_class=com.evokly.kafka.connect.mqtt.sample.DumbProcessor
